@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  /* --tw-color-primary-50: 240 249 255; */
  /* --tw-color-primary-100: 224 242 254;
  --tw-color-primary-200: 186 230 253;
  --tw-color-primary-300: 125 211 252;
  --tw-color-primary-400: 56 189 248;
  --tw-color-primary-500: 14 165 233;
  --tw-color-primary-600: 2 132 199;
  --tw-color-primary-700: 3 105 161;
  --tw-color-primary-800: 7 89 133;
  --tw-color-primary-900: 12 74 110; */
  /* --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0f9ff */
  /* --color-primary-100: rgb(var(--tw-color-primary-100)); #e0f2fe */
  /* --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bae6fd */
  /* --color-primary-300: rgb(var(--tw-color-primary-300)); /* #7dd3fc */
  /* --color-primary-400: rgb(var(--tw-color-primary-400)); #38bdf8 */
  /* --color-primary-500: rgb(var(--tw-color-primary-500)); #0ea5e9 */
  /* --color-primary-600: rgb(var(--tw-color-primary-600)); #0284c7 */
  /* --color-primary-700: rgb(var(--tw-color-primary-700)); #0369a1 */
  /* --color-primary-800: rgb(var(--tw-color-primary-800)); #075985 */
  /* --color-primary-900: rgb(var(--tw-color-primary-900)); #0c4a6e */
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  /* inter var - latin */
  /* @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  } */

  /* @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/work-sans/WorkSans-Light.ttf');
    font-display: swap;
  } */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/work-sans/WorkSans-Regular.ttf');
    font-display: swap;
  }

  /* @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/work-sans/WorkSans-Medium.ttf');
    font-display: swap;
  } */

  /* @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/work-sans/WorkSans-SemiBold.ttf');
    font-display: swap;
  } */

  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/work-sans/WorkSans-Bold.ttf'); /* IE9 Compat Modes */
    font-display: swap;
  }

  @font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/cinzel-v19-latin/cinzel-v19-latin-regular.woff2');
  }
  /* cinzel-500 - latin */
  /* @font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/cinzel-v19-latin-500.woff2');
  } */
  /* cinzel-600 - latin */
  /* @font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/cinzel-v19-latin-600.woff2');
  } */
  /* cinzel-700 - latin */
  @font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/cinzel-v19-latin/cinzel-v19-latin-700.woff2');
  }
  /* cinzel-800 - latin 
  @font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/cinzel-v19-latin-800.woff2');
  }
*/
  /* cinzel-900 - latin 
*
  @font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/fonts/cinzel-v19-latin-900.woff2');
  }
* */
  /* .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  } */

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-3xl font-light leading-[65px] md:text-5xl;
  }

  h2,
  .h2 {
    @apply font-primary text-2xl font-light leading-[51px] md:text-[2.25rem];
  }

  h3,
  .h3 {
    @apply font-primary text-xl font-light md:text-3xl;
  }

  h4,
  .h4 {
    @apply font-primary text-lg font-light md:text-2xl;
  }

  h5,
  .h5 {
    @apply font-secondary text-lg font-light md:text-lg;
  }

  body,
  .p {
    @apply font-secondary text-sm text-darker md:text-base;
  }

  table {
    border-spacing: 10px;
    border-collapse: separate;
  }

  .hide-scroll {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  .hide-scroll {
    overflow: -moz-scrollbars-none;
  }

  .hide-scroll {
    -ms-overflow-style: none;
  }
  .bg_404 {
    background-image: url('/images/404/404_bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .christmas-ice-bg {
    background-image: url('/images/christmas/ice-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .christmas-deco-bg-2xl {
    background-image: url('/images/christmas/christmas-deco-bg-2xl.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -40px;
  }
  .christmas-deco-bg-xl {
    background-image: url('/images/christmas/christmas-deco-bg-xl.webp');
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: -40px;
  }
  .christmas-deco-bg-lg {
    background-image: url('/images/christmas/christmas-deco-bg-lg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -40px;
  }
  .christmas-deco-bg-md {
    background-image: url('/images/christmas/christmas-deco-bg-md.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -0px;
  }
  .christmas-deco-bg-sm {
    background-image: url('/images/christmas/christmas-deco-bg-sm.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -90px;
  }
  .christmas-deco-bg {
    background-image: url('/images/christmas/christmas-deco-bg.webp');
    background-repeat: no-repeat;
    background-size: 95%;
    background-position-y: -60px;
  }
  .blackfriday-reserver {
    background: linear-gradient(
      90deg,
      #d7a153 -5.1%,
      #e0b873 30.34%,
      #d9b57a 54.93%,
      #d59948 104.67%
    );
  }

  .input-shadow {
    box-shadow: 6px 6px 30px rgba(45, 41, 41, 0.4);
  }
  .bg-red {
    background: linear-gradient(94.41deg, #f74c46 0%, #a52f2f 100%);
  }

  .offre-de-novembre-bg {
    background: url('/images/offre-de-novembre/novembre-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .offre-de-novembre-bg-sm {
    background: url('/images/offre-de-novembre/novembre-bg-sm.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .offre-de-octobre-bg {
    background: linear-gradient(
      107.01deg,
      #fcf2ec 0%,
      #f2dfd3 35.42%,
      #fbeee7 65.1%,
      #f0d0bd 95.31%
    );
    opacity: 0.96;
  }

  #offre-de-lancement-table td,
  #offre-de-lancement-table th {
    @apply border border-primary bg-white py-3 px-4;
  }

  #prices-table td,
  #prices-table th {
    @apply border border-primary bg-white/60 py-3 px-4 shadow-md;
  }
  /* #endregion  /**======== Typography =========== */

  /* .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  } */

  /* Class to adjust with sticky footer */
  /* .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  } */
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

.bg-radial {
  background: radial-gradient(#341c10, #22201e);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-radial-light-theme {
  background: radial-gradient(
        175.17% 233.64% at 43.5% -79%,
        #c06936 0%,
        #aa592a 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #f0efe9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-radialal-light {
  background: radial-gradient(
    49.02% 50.05% at 50% 49.95%,
    #f6f1e7 0%,
    #faf9f7 0.01%,
    #f7f2e8 65.1%
  );
  opacity: 0.96;
}

.light-radial-bg-novembre {
  background: radial-gradient(50% 50% at 50% 50%, #fff6f1 39.58%, #ffede2 100%),
    linear-gradient(127.48deg, #e0cecc 10.13%, #dabdb6 100%);
}

.nav-link:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
}

.banner {
  box-shadow: -10px -30px 60px rgba(63, 43, 30, 0.2);
  border-radius: 50px 0px 0px 0px;
}

.cta-banner {
  clip-path: ellipse(69% 100% at 50.38% 100%);
}
.background-light {
  background: linear-gradient(
      107.01deg,
      #fcf2ec 0%,
      #f2dfd3 35.42%,
      #fbeee7 65.1%,
      #f0d0bd 95.31%
    ),
    radial-gradient(
      49.02% 50.05% at 50% 49.95%,
      #f6f1e7 0%,
      #faf9f7 0.01%,
      #f7f2e8 65.1%
    ),
    #f6f1e7;
}

.bg-ofr-novombre {
  background: linear-gradient(127.48deg, #dfa28b 10.13%, #a8755c 100%);
}

.card {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    rgba(255, 255, 255, 0.1);
  box-shadow: 6px 6px 20px rgba(150, 79, 37, 0.3);
  /* Note: backdrop-filter has minimal browser support */
  backdrop-filter: blur(20px);
}

.page-card:hover {
  box-shadow: 0px 6px 16px rgba(74, 58, 255, 0.19);
  border-image-source: linear-gradient(
    169.07deg,
    rgba(0, 0, 0, 0.25) 15.23%,
    rgba(0, 0, 0, 0.02) 110.68%
  );
}

.card:hover {
  box-shadow: 4px 10px 20px rgba(150, 79, 37, 0.8);
}

.cta-banner-full {
  background-image: url('/images/shared/cta-banner.webp');
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 10;
}

.cta-banner-full:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.bg-linear-primary-light {
  background: linear-gradient(
    178.55deg,
    #f6f1e7 34.22%,
    rgba(247, 242, 232, 0) 98.77%
  );
  opacity: 0.96;
}

.faq-bg {
  background: linear-gradient(
      178.55deg,
      #f6f1e7 34.22%,
      rgba(247, 242, 232, 0) 98.77%
    ),
    #f6f1e7;
}
/* 
  #prices-table 
  td, tr {
    white-space: pre-line;
  } */

@media only screen and (max-width: 1024px) {
  #pricing-table th,
  td {
    overflow: hidden;
    white-space: nowrap;
  }
}

@media only screen and (min-width: 1024px) {
  .laser-table,
  td {
    width: 100%;
    text-align: center;
  }
}

.primary {
  background: linear-gradient(
      169.07deg,
      #f0bd8a 15.23%,
      rgba(240, 189, 138, 0.3) 110.68%
    ),
    linear-gradient(0deg, #f1b880, #f1b880);
}

/* table, th, td {
  border: 1px solid black;
}
td {
    width: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
} */

td,
th {
  text-transform: capitalize;
}

.dropdown-bg {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  z-index: 100;
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
}

.accordion-title {
  @apply text-[16px] lg:text-[22px];
}

s,
strike {
  text-decoration: none;
  position: relative;
}

s::before,
strike::before {
  top: 50%; /*tweak this to adjust the vertical position if it's off a bit due to your font family */
  background: red; /*this is the color of the line*/
  opacity: 0.7;
  content: '';
  width: 100%;
  position: absolute;
  height: 0.2em;
  border-radius: 0.1em;
  left: -5%;
  white-space: nowrap;
  display: block;
  transform: rotate(-15deg);
}

s::before,
strike::before {
  top: 50%; /*tweak this to adjust the vertical position if it's off a bit due to your font family */
  background: red; /*this is the color of the line*/
  opacity: 0.7;
  content: '';
  width: 100%;
  position: absolute;
  height: 0.2em;
  border-radius: 0.1em;
  left: -5%;
  white-space: nowrap;
  display: block;
  transform: rotate(-15deg);
}

s.straight::before,
strike.straight::before {
  transform: rotate(0deg);
  left: -1%;
  width: 102%;
}

/* Blog */

.blog-content p,
.blog-content figure {
  @apply my-4;
}

.blog-content a {
  @apply text-blue-500 underline;
}

.blog-content ul {
  @apply my-4 ml-6 list-disc marker:text-2xl marker:text-secondary;
}

.blog-content ol {
  @apply my-4 ml-6 list-decimal;
}

/* End Blog */

/* Begin react-multi-carousel */

.react-multi-carousel-list {
  overflow: scroll !important;
  scrollbar-width: none;
}

.react-multi-carousel-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* End react-multi-carousel */
